<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/9bad9a35d2.js"></script>
    <style>
      body {
        background-color: #F4515A;
      }
      .room {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
      }
      .song {
        height: 500px;
        width: 80%;
        margin: auto;
        background-color: #fff;
        border-radius: 10px;
      }
      #player {
        margin: 5% 50px;
        width: 90%;
      }
      .next-song{
        margin-top: 20px;
      }
      .btn-grey{
        background-color: #494652;
        color: #fff;
      }
      .btn-grey:hover{
        color: #fff;
      }
    </style>

    <title>Room</title>
  </head>
  <body>
    <div class="room container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Room <i class="fa fa-microphone" aria-hidden="true"></i></h1>
        </div>
        <div class="col-xs-6 text-right">
          <%= if String.length(video) > 0 do %>
            <a href="http://localhost:4001/room/<%= video %>" class="btn btn-grey next-song">Next Song</a>
          <% end %>
        </div>
      </div>

      <br/><br/>
      <div class="song">
        <%= if String.length(video) > 0 do %>
          <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
          <div id="player"></div>
        <% end %>
      </div>
    </div>
  </body>
  <script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '400',
        videoId: window.location.pathname.split("/room/")[1],
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        setTimeout(stopVideo, 6000);
        done = true;
      }
    }
    function stopVideo() {
      player.stopVideo();
    }
  </script>
</html>
